*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.botonL{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;

}

.botonL a{
    color: black;
}

.botonL img{
    width: 30px;
    height: 30px;
}





