


.principal{
    width: 1350px;
    height: 500px;
    border-radius: 12px;
    background-color: #FDFEFE;
    margin-top: 25px;
    margin-left: 6%;
}

.informacion{
    display: inline-block;
}

.informacion h4{
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 220px;
}

#producto{

    margin-left: 325px;
}

#subTotal{

    margin-left: 135px;
}

.todo-producto{
    display: flex;
}

.div-xRoja{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 45px;
    margin-left: 10px;
}


.div-producto{
    display: inline-block;
    width: 95px;
    height: 95px;
    border-radius: 12px;
    background-color: #ECF0F1;
    margin-left: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.xRoja{
    margin-left: 20px;

    width: 30px;
    height: 30px;
}

.producto{

    width: 90px;
    height: 90px;
    margin-left: 3px;
    margin-top: 3px;
}

#nombreProducto{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 20px;
}

#precio{
    margin-top: 50px;
    margin-left: 192px;
    font-size: 20px;

}

#precio2{
    
    margin-top: 50px;
    margin-left: 297px;
    font-size: 20px;
}

#precio3{
    
    margin-top: 50px;
    margin-left: 255px;
    font-size: 20px;
}



#cantidad{
    margin-top: 35px;
    margin-left: 235px;
    width: 40px;
    height: 50px;
    font-size: 20px;
}

#subTotalPrecio{
    margin-top: 50px;
    font-size: 20px;
    margin-left: 200px;
}

.cupon input{
    margin-top: 20px;
    margin-left: 20px;
    width: 190px;
    height: 30px;
    font-size: 20px;
    border-radius: 7px;
}

.cupon button{
    margin-top: 10px;
    margin-left: 15px;
    width: 90px;
    height: 30px;
    color: white;
    background-color: green;
    border-radius: 7px;
}

.totales{
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 21%;
    width: 430px;
    background-color: #FDFEFE;
    height: 170px;
}

.subTotal-DIV{
   display: inline-block;
    font-size: 20px;
    height: 40px;
 
}
.subTotal-DIV h4{
    display: inline-block;
    margin-top: 0px;
    margin-left: 40px;
    font-size: 20px;
}

.subTotal-DIV P{
    display: inline-block;
    margin-left: 170px;
    margin-top: 10px;
}

#descuento{
     margin-left: 155px;
    
}

#7{
    margin-top: 190px;
}

#total2{
    
    margin-left: 200px;
    
}

.totales-boton{
    
    display: flex;
    
}

.totales-principal{
    display: inline-block;
}

.boton{
   display: inline-block;
   margin-top: 70px;
}

.boton button{
    display: inline-block;
   margin-left: 190px;
   width: 190px;
   height: 70px;
   font-size: 40px;
}