

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #ECF0F1;
    color: blue;
}

.logo{

    width: 40px;
    border-color: red;
    border: none;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.imagenLogo{
    border: none;
    max-width: 100%;
    height: auto;
    padding: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: 55px;
    width: 350px;
    border-radius: 35px;
    background-color: blue;
    margin-left: 57%;
    background-color: #FDFEFE;

}

.a-nav{
    margin-top: 16px;


}

.a-nav a {

    border-color: red;
    text-decoration: none;

    font-size: 20px;
    color: black;
    margin-left: 16px;
}

.carrito {
    margin-top: 10px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    width: 65px;
    height: 55px;
    background-color: #FDFEFE;
    padding: 0px;
    border-radius: 35px;
}

.imagenCarrito {
    margin: 0 auto;
    width: 40px;
    border: none;
    margin-left: 12px;

}

.lupa {
    margin-top: 10px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    width: 65px;
    height: 55px;
    background-color: #FDFEFE;
    padding: 0px;
    border-radius: 35px;
}

.lupa img {
    margin: 0 auto;

    border: none;
    width: 40px;
    border: none;
    margin-left: 8px;


}

@media (max-width: 1800px) {

    nav{

        margin-left: 55%;
        
    }
    
    .imagenCarrito {
        width: 30px;
        margin-left: 15px;
    }
    
    .lupa img {

        margin-left: 18px;

    }

}

@media (max-width: 1400px) {

    nav{

        margin-left: 45%;
        
    }
    
    .imagenCarrito {
        width: 20px;
        margin-left: 28px;
    }
    
    .lupa img {

        margin-left: 16px;

    }

}


@media (max-width: 1400px) {

    nav{

        margin-left: 42%;
    }
    
    .imagenCarrito {
        width: 30px;
        margin-left: 14px;
    }
    
    

}

@media (max-width: 1050px) {

    nav{

        margin-left: 27%;
       
    }
    
    .imagenCarrito {
        width: 30px;
        margin-left: 14px;
    }

}

@media (max-width: 890px) {

    nav{

        margin-left: 26%;
        
    }
    
    .a-nav a {
        font-size: px;
        margin-left: 6px;

    }
    
     .a-nav a {
        font-size: 20px;
        margin-left: 6px;

    }
    
    .imagenCarrito {
        width: 30px;
        margin-left: 11px;
    }

    

}


@media (max-width: 770px) {

    nav{

        margin-left: 15%;
        
    }
    
    .a-nav a {
        font-size: 20px;
        margin-left: 6px;

    }
    
    .imagenCarrito {
        width: 30px;
        margin-left: 14px;
    }

    

}

@media (max-width: 710px) {

   
    .a-nav a {
        font-size: 20px;

    }
    
    .imagenCarrito {
        width: 30px;
        margin-left: 14px;
    }
    

}

@media (max-width: 680px) {

    nav{
        margin-left: 8%;
    }
    
    .a-nav a {
        font-size: 16px;
        margin-left: 6px;

    }
    
    .informacion{
        width: 170px;
        margin-left: 16px;
    }

    .imagenCarrito {
        width: 30px;
        margin-left: 12px;
    }

    .lupa img {
        width: 30px;
        margin-left: 14px;

    }


}

@media (max-width: 580px) {

    nav{
        margin-left: 8%;
        
    }

    .a-nav a {
        font-size: 14px;
        margin-left: 6px;

    }

    .productoDiv{

        margin-left: 19px;
        width: 210px;

    }

    .informacion{
        width: 170px;
        margin-left: 16px;
    }

    .imagenCarrito {
        width: 30px;
        margin-left: 5px;
    }

    .lupa img {
        width: 30px;
        margin-left: 5px;

    }

}


