body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #ECF0F1;
    color: blue;
}

form {
    text-align: center;
    margin-top: 20px;
}

#categorias {
    margin-top: 20px;
    margin-left: 20px;
}

.icono {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

.sesion {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.enlaces-sesion {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.imagen-con-descripcion {
    text-align: center;
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
}

.a{

    color: blue;
}

nav {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: 55px;
    width: 360px;
    border-radius: 35px;
    background-color: blue;
    margin-left: 64%;
    background-color: #FDFEFE;
        
}

.a-nav{
    margin-top: 16px;
 

}

.a-nav a {

    border-color: red;
    text-decoration: none;
    
    font-size: 20px;
    color: black;
    margin-left: 16px;
}


.inicio{
    margin-left: 3px;
}

.inicisesion{
    margin-right: 2px;
    padding: 0;
}

.inicieSesionDiv{

    width: 90px;
}

.logo{
    width: 40px;
    border-color: red;
    border: none;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: scale(1.3);
    cursor: pointer;
}


.imagenLogo{
    border: none;

}
/*
.imagenCarritoA{

    border: none;
    margin: 0px;
    padding: 0px;
}

.imagenCarrito{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 30px;
}

.carrito{
    margin-top: 6px;
    width: 30px;
    height: 12px;
    margin-left: 9px;
    background-color: #FDFEFE;
    padding: 20px;
    border-radius: 35px;
    border: none;
    transition: transform 0.5s ease;
}

.carrito:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.lupa{
    margin-top: 6px;
    width: 20px;
    height: 12px;
    margin-left: 9px;
    background-color: #FDFEFE;
    border-radius: 35px;
    border: none;
    padding: 19px;
    transition: transform 0.5s ease;
}

.lupa:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.lupa a{
    display: block;
    border: none;

    margin: 0;
    padding: 0;
}

.lupaA{

    border: none;

}

.lupa img{
    display: block;

    margin-top: 0px;
    border: none;
}

.carrito img{
    padding: 0px;
    border: none;
}*/

/* Add these styles to center the carrito and lupa images */
.carrito {
    margin-top: 10px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    width: 65px;
    height: 55px;
    background-color: #FDFEFE;
    padding: 0px;
    border-radius: 35px;
}

.imagenCarrito {
    margin: 0 auto; /* This centers the image horizontally */
    width: 30px;
    border: none;
    margin-left: 11px;
}

.lupa {
    margin-top: 10px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    width: 65px;
    height: 55px;
    background-color: #FDFEFE;
    padding: 0px;
    border-radius: 35px;
}


.lupa img {
    margin: 0 auto;
    
    border: none;
    width: 30px;
    border: none;
    margin-left: 13px;
    
}

.Carnes{
    margin-top: 20px;
    margin-left: 48%;
    width: 730px;
    height: 170px;
    background: #D0D3D4;
    border-radius: 12px;
    padding: 0px;
    transition: transform 0.5s ease;
}

.Carnes:hover {
    transform: scale(0.98);
    cursor: pointer;
}

.alimentos{
    padding: 0px;
    border: none;

}

.Bebidas{

    margin-top: 35px;
    margin-left: 35%;
    width: 730px;
    height: 170px;
    background: #D0D3D4;
    border-radius: 12px;
    padding: 0px;
    transition: transform 0.5s ease;
}

.Bebidas:hover {
    transform: scale(0.98);
    cursor: pointer;
}

.Electrodomesticos{

    margin-top: 35px;
    margin-left: 48%;
    width: 730px;
    height: 170px;
    background: #D0D3D4;
    border-radius: 12px;
    padding: 0px;
    transition: transform 0.5s ease;
}

.Electrodomesticos:hover {
    transform: scale(0.98);
    cursor: pointer;
}

