body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECF0F1; /* Color de fondo */
}

header {
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: green/*#ECF0F1*/; /* Color de fondo del encabezado */
    color: blue; /* Color del texto del encabezado */
}

form {
    text-align: center;
    margin-top: 20px;
}

#categorias {
    margin-top: 20px;
    margin-left: 20px;
}

.icono {
    margin-top: 20px;
    margin-right: 20px;
    float: right; /* Para alinear a la derecha */
}

.sesion {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.enlaces-sesion {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.imagen-con-descripcion {
    text-align: center;
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Borde para mejorar visualización */
    padding: 5px; /* Relleno alrededor de la imagen */
}

.a{
    
    color: blue;
}

nav{
    
    background-color: #FDFEFE;
    padding: 20px;
    border-radius: 12px;
    border: none;
}